  .fb-bar {
    font: inherit;
    background-color: #3b5998;
    border-bottom: 1px solid #29487d;
    box-sizing: border-box;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
    font-style: italic;
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 10000000;
  }

  .fb-bar a {
    text-decoration: none;
    color: #fff;
  }

  .fb-modal {
    text-align: center;
    padding: 0!important;
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10000000;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        text-align: center;
        padding: 0!important;
        font-family: "Helvetica Neue", Helvetica, Arial, Utkal, sans-serif;
  }

  .fb-modal::before {
    content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
  }

  .fb-modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 300px;
  }

  .fb-modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }

  .fb-modal-body {
    position: relative;
        padding: 15px;
  }

  .fb-modal-form-group {
    margin-bottom: 15px;
  }

  .fb-modal-button {
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: #4f6aa3;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border: none;
    text-transform: capitalize;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .fb-confirm {
    text-align: center;
    display: none;
  }

  .fb-confirm a {
    color: #8a949b;
  }

  .fb-confirm a:hover {
    color: #4f6aa3;
    text-decoration: none;
    outline: none;
  }

  .fb-form {
    margin-bottom: 0;
  }